---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
hideNavigation: true
---

{# <img src="/static/img/author.jpeg" alt="Til Blechschmidt" class="w-32 h-32 rounded-full mx-auto" /> #}

<div class="bg-dot-grid h-screen">

	<!-- Header w/ personal info and contact details -->
	<div class="flex flex-col bg-white-gradient h-60vh md:h-50vh index-header">
		<div class="m-auto">
			<div class="md:flex md:items-center rounded-lg p-6">
				<img class="h-32 w-32 md:h-64 md:w-64 rounded-full mx-auto my-4" src="/static/img/author.jpeg" alt="Til Blechschmidt">
				<div class="text-center md:text-left flex-1 gray-social-icons">
					<h2 class="text-lg md:text-5xl md:mx-12">{{ metadata.author.name }}</h2>
					<div class="text-purple-500 md:text-xl md:mx-12">CS Student @ PPI AG</div>
					{% include "social.njk" %}
				</div>
			</div>
		</div>
	</div>

	<!-- Project -->
	<div class="md:max-w-4xl md:mx-auto">
		<h2 class="mx-8 text-2xl md:text-4xl">My projects</h2>
		<div class="flex items-center">
		{% for project in collections.projects %}
			<a href="/tags/{{project}}" class="block bg-white border border-gray-600 rounded m-8 p-5 flex-1 md:w-1/3 md:flex-initial project-box hover:shadow-xl cursor-pointer transition duration-500 transform hover:-translate-y-1">
				<h3 class="text-xl font-semibold">{{ projects[project].title }}</h3>
				<span class="font-light text-sm">{{ projects[project].description }}</span>
			</a>
		{% endfor %}
		</div>
	</div>

</div>

{#
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
#}
