---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="prose mx-auto my-16 lg:prose-lg">
	<div class="mx-8">
		<header class="text-center">
			<h1>{{ title }}</h1>
			{% for tag in tags %}
				{% include "tag.njk" %}
			{% endfor %}
			<p class="text-sm"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ date | readableDate }}</time>&nbsp;&nbsp;•&nbsp;&nbsp;~{{ content | timeToRead }}<p>
		</header>

		<hr/>

		{% if project %}
			<div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 px-4 py-1" role="alert">
				<p>This post is related to the {{ projects[project].title }} project! Read more about it <a href="/projects/{{ project }}">here</a>.</p>
			</div>
		{% endif %}

		{{ content | safe }}
	</div>
</div>

<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>