.bg-dot-grid {
	background-image: radial-gradient(theme('colors.gray.500') 2.5%, transparent 2.5%),
		radial-gradient(theme('colors.gray.300') 3.5%, transparent 3.5%);
	background-position: 0 0, 35px 35px;
	background-size: 70px 70px;
}

.bg-white-gradient {
	background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.gray-social-icons img {
	filter: invert(40%);
}

.gray-social-icons img:hover {
	filter: invert(0%);
}

.index-header {
	min-height: 331px;
}

.project-box {
	text-decoration: none !important;
}

.project-box > h3 {
	margin-top: 0px;
}

@responsive {
	.h-10vh {
		height: 10vh;
	}

	.h-20vh {
		height: 20vh;
	}

	.h-30vh {
		height: 30vh;
	}

	.h-40vh {
		height: 40vh;
	}

	.h-50vh {
		height: 50vh;
	}

	.h-60vh {
		height: 60vh;
	}

	.h-70vh {
		height: 70vh;
	}

	.h-80vh {
		height: 80vh;
	}

	.h-90vh {
		height: 90vh;
	}
}